html {
  background: url("../images/login-background-2.jpg");
  background-repeat: no-repeat;
  background-size: 120vw 110vh;
}

label {
  background-color: gray;
}

.black {
  background-color: #1e1e1e;
}

input {
  border-color: #1e1e1e;
}

.sign-in {
  color: var(--color-primary);
}

.btn {
  border-radius: 0;
  overflow: hidden;
}

.btn-ghost-brew {
  border-style: solid;
  background-size: 200% 200%;
  background-image: linear-gradient(to top, #ff8f00 25%, #ffe082 25%, #ffe082 50%, #fff 50% );
  border-color: var(--color-dark-primary);
  color: var(--color-dark-primary);
  transition: all 0.25s ease-in;
}

.btn-ghost-brew:hover {
  border-color: var(--color-dark-primary);
  background-color: var(--color-white);
  background-image: linear-gradient(to top, #ff8f00 25%, #ffe082 25%, #ffe082 50%, #fff 50% );
  background-position: 0 100%;
  color: var(--color-white);
}
