/* For the beer page banner */

.banner-img {
  background: linear-gradient(rgba(20,20,20, .50), rgba(20,20,20, .75));
  border-bottom: solid var(--color-light-primary) 1rem;
}

.banner-likes {
  color: var(--color-white);
}

.banner-likes svg {
  cursor: pointer;
  fill: var(--color-white);
}

.banner-class {
  color: var(--color-white);
}

.banner-heading {
  color: var(--color-light-primary);
  text-transform: uppercase;
}

.active svg {
  fill: var(--color-dark-primary);
}

/* For the beer page content */

.tag {
  background-color: var(--color-light-primary);
  border-radius: 5px;
}

.bio {
  color: var(--color-white);
}

.info-icons svg {
  fill: var(--color-white);
}

.info-icons {
  color: var(--color-white);
}

.taste,
.percent,
.barley,
.hops {
  margin-right: 3rem;
}
