/* For the brewing animation */
.brew-section h1 {
  color: var(--color-white);
}

.brew-section {
  background-color: var(--color-dark-grey);
}

svg#brewing {
  cursor: pointer;
  transition: all .25s linear;
  transform: scale(1);
}

.brewing-scale-active {
  transform: scale(1.08) !important;;
  transform-origin: 35% 50% !important;;
}

.brew-section svg rect#rect-orange {
  transition: all 1s linear;
  transform: translate(87px, 379px);
}

.brewing-background-active {
  transform: translate(87px, 185px) !important;
  transition-delay: .5s !important;;
}

.brew-section svg rect#rect-white-2 {
  transition: all 1s linear;
  transform: translate(87px, 379px);
}

.brewing-background-2-active {
  transform: translate(87px, 185px) !important;
  transition-delay: .5s !important;
}

g.bubble-group-slow {
  transition: all 4s linear;
  transform: translateY(150px);
}

g.bubble-group-med {
  transition: all 2.5s linear;
  transform: translateY(150px);
}

g.bubble-group-fast {
  transition: all 1.5s linear;
  transform: translateY(150px);
}

.bubble-group-active {
  transform: translateY(-100px) !important;
  transition-delay: .5s !important;
}
