:root {
  --color-primary: #ffc30d;
  --color-light-primary: #ffe082;
  --color-dark-primary: #ff8f00;
  --color-white: #ffffff;
  --color-light-grey: #636363;
  --color-dark-grey: #303030;
  --color-black: #212121;

  --font-primary: 'Raleway', sans-serif;
}

.yellow {
  color: var(--color-light-primary);
}

.orange {
  color: var(--color-dark-primary);
}

html {
  background-color: var(--color-dark-grey);
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

.tabcontent a {
  color: var(--color-light-primary);
}

.tabcontent a:hover,
.tabcontent a:focus {
  color: var(--color-dark-primary);
}

.beer-img {
  width: 5rem;
  margin-right: auto;
  margin-left: auto;
}

#brewed a {
  border-bottom: 2px solid var(--color-black);
  color: var(--color-light-primary);
  transition: all .25s linear;
}

#brewed a:hover {
  background-color: var(--color-black);
}
