/* Tabs CSS */
.tab {
  overflow: hidden;
  background-color: var(--color-black);
}

.tab button {
  background-color: var(--color-black);
  border: none;
  float: center;
  border-bottom: 2px solid var(--color-black);
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button.active,
.tab button:hover {
  color: var(--color-dark-primary);
  border-bottom: 2px solid var(--color-dark-primary);
}

.tabcontent {
  display: none;
  animation: fading 1s linear;
}

.orange {
  color: var(--color-primary);
}

ul {
  list-style: none;
  padding: 0;
}
